@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --default-padding: 20px;
  --background-color: white;
  --main-color: #49bf7c;
  --secondary-color: #318254;
  --red-color: #de314b;
  --gray-color: #7a7a7a;
  --light-gray-color: #d9d9d9;
  --default-border-radius: 15px;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: var(--background-color);
}
#app {
  height: 100%;
}

/* Styles */
.view-title {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
}
.text-bold {
  font-weight: 700;
}
.flex-grow-1 {
  flex-grow: 1;
}
.c-main {
  color: var(--main-color);
}
.c-secondary {
  color: var(--secondary-color);
}
.app-card {
  background-color: var(white);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  border: 1px solid var(--gray-color);
}

/* Scrollbar area */
::-webkit-scrollbar {
  height: 8px;
  margin-top: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--light-gray-color); /* цвет фона за скроллбаром */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* цвет скроллбара */
  border-radius: 5px; /* радиус скругления углов скроллбара */
}
scrollbar {
  height: 8px;
  margin-top: 5px;
}
scrollbar-track {
  background-color: var(--light-gray-color); /* цвет фона за скроллбаром */
  border-radius: 5px;
}
scrollbar-thumb {
  background-color: var(--main-color); /* цвет скроллбара */
  border-radius: 5px; /* радиус скругления углов скроллбара */
}